version: '2'
services:
  mapas:
    build:
      context: ../core
      dockerfile: ./compose/local/Dockerfile
    ports:
      - "80:80"
    volumes:
      - ../core/src/protected:/var/www/html/protected
      - ../scripts:/var/www/scripts
      - ../compose/config.php:/var/www/html/protected/application/conf/config.php
      - ../compose/local/config.d:/var/www/html/protected/application/conf/config.d
      - ../docker-data/assets:/var/www/html/assets
      - ../docker-data/public-files:/var/www/html/files
      - ../docker-data/private-files:/var/www/private-files
      - ../tests:/var/www/tests
      - ../themes/Ceara:/var/www/html/protected/application/themes/Ceara
    links:
      - db
      - redis
    environment:
      - PENDING_PCACHE_RECREATION_INTERVAL=10
      - JOBS_INTERVAL=10
      - REDIS_CACHE=redis
      - APP_MODE=development
      - CACHE_ASSETS_URL=0
      - ACTIVE_THEME=Ceara
      
    depends_on:
      - db
      - redis
      - mailhog
      
    stdin_open: true
    tty: true
    
  mailhog: 
    image: mailhog/mailhog
    ports:
      - "8025:8025"

  redis:
    image: redis:6
    command: --maxmemory 256Mb --maxmemory-policy allkeys-lru  

  db:
    image: mdillon/postgis:11
    environment:
      - POSTGRES_PASSWORD=mapas
      - POSTGRES_USER=mapas
      - POSTGRES_DB=mapas
    ports:
      - "5470:5432"
    volumes:
      - ../docker-data/postgres:/var/lib/postgresql/data
      - ../db/dump.sql:/docker-entrypoint-initdb.d/dump.sql
